In [1]:
import numpy as np
import pandas as pd
from math import *

In [2]:
df = pd.read_csv("imdb_top_1000.csv")
df.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [3]:
df = df.drop(["Poster_Link","Released_Year","Certificate","Overview",
              "Director","Star1","Star2","Star3","Star4","No_of_Votes",
             "Gross"],axis=1)

In [4]:
df

,Series_Title,Runtime,Genre,IMDB_Rating,Meta_score
0,The Shawshank Redemption,142 min,Drama,9.3,80.0
1,The Godfather,175 min,"Crime, Drama",9.2,100.0
2,The Dark Knight,152 min,"Action, Crime, Drama",9.0,84.0
3,The Godfather: Part II,202 min,"Crime, Drama",9.0,90.0
4,12 Angry Men,96 min,"Crime, Drama",9.0,96.0
...,...,...,...,...,...
995,Breakfast at Tiffany's,115 min,"Comedy, Drama, Romance",7.6,76.0
996,Giant,201 min,"Drama, Western",7.6,84.0
997,From Here to Eternity,118 min,"Drama, Romance, War",7.6,85.0
998,Lifeboat,97 min,"Drama, War",7.6,78.0
999,The 39 Steps,86 min,"Crime, Mystery, Thriller",7.6,93.0

In [5]:
# Number of arms = no.of movies
k = len(df)

In [6]:
epsilon = 0.1  # Exploration rate
num_trials = 1000  # Number of user interactions

In [7]:
# Initialize rewards and counts
rewards = df['IMDB_Rating'].values  
total_counts = np.zeros(k)  # Number of times each arm has been selected
estimated_values = np.zeros(k)  # Estimated values for each arm

In [8]:
total_reward = 0

In [9]:
for _ in range(num_trials):
    if np.random.rand() < epsilon:
        selected_arm = np.random.randint(k)
    else:
        selected_arm = np.argmax(estimated_values)

    reward = rewards[selected_arm]

    total_counts[selected_arm] += 1
    estimated_values[selected_arm] += (reward - estimated_values[selected_arm]) / total_counts[selected_arm]

    total_reward += reward

In [10]:
# Get the top recommended titles based on estimated values
top_recommendations = df.loc[np.argsort(estimated_values)[::-1]]

print("Total Reward :", round(total_reward,2))
print("\nTop Recommendations:")
print(top_recommendations[['Series_Title', 'IMDB_Rating', 'Genre']].head(10))

Total Reward : 8861.7

Top Recommendations:
                       Series_Title  IMDB_Rating                      Genre
0          The Shawshank Redemption          9.3                      Drama
7                  Schindler's List          8.9  Biography, Drama, History
12  Il buono, il brutto, il cattivo          8.8                    Western
17  One Flew Over the Cuckoo's Nest          8.7                      Drama
30                          Seppuku          8.6     Action, Drama, Mystery
41               The Usual Suspects          8.5   Crime, Mystery, Thriller
50                       Casablanca          8.5        Drama, Romance, War
40               American History X          8.5                      Drama
53                       Capharnaüm          8.4                      Drama
60           Avengers: Infinity War          8.4  Action, Adventure, Sci-Fi